{{#d-modal-body title="credit.toll_builder.title" class="credit-toll-builder"}}
  <div class='modal-body credit-toll-builder'>
  <form class='poll-ui-builder-form form-horizontal'>
    <div class='input-group'>
      <label>{{i18n 'credit.toll_builder.content.label'}}</label>
      {{input-tip validation=contentValidation}}
      {{textarea value=raw}}
    </div>
    <div class='input-group'>
      <label>{{i18n 'credit.toll_builder.credit.label'}}</label>
      {{input-tip validation=creditValidation}}
      {{input value=credit}}
    </div>
  </form>
{{/d-modal-body}}

<div class='modal-footer'>
  {{d-button action='insertCreditToll' icon='money' class='btn-primary' label='credit.toll_builder.insert' disabled=disableInsert}}
</div>
